.accordion-group
  .accordion-heading
    %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
      %h3 Billing
  #collapseTwo.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      #billing
        = form_tag("#{Braintree::TransparentRedirect.url}",:class => "payment_form form-horizontal", :onSubmit => 'return validate_card_info();') do |f|
          %fieldset
            .control-group
              %label.control-label Plan
              #spinner{:style => "display:none"}
                = image_tag 'ajax-loader.gif', :class => 'ajax-loader'
                %p Loading....
              .controls
                %label.radio
                  - if current_user.plan == 'free'
                    %input#optionsRadios1{:checked => "", :name => "user_plan", :type => "radio", :value => "free"}
                      Free - limited access
                %label.radio
                  %input#optionsRadios2{:name => "user_plan", :type => "radio", :value => "Monthly",:checked => (current_user.plan == 'Monthly' ? true : false)}
                    Monthly - $50 per Month
                %label.radio
                  %input#optionsRadios3{:name => "user_plan", :type => "radio", :value => "Yearly",:checked => (current_user.plan == 'Yearly' ? true : false)}
                    Yearly - $450 per Year
                    %em
                      %strong Save 25%
            %hr.zero
              - if current_user.plan != 'free'
                - content_for :old_card_fields do
                  .control-group
                    %label.control-label{:for => "input05"} Old Card Number
                    .controls
                      = @credit_card.masked_number#%input.input.span2{:name => "old_card", :size => "30", :type => "text",:value => @credit_card.masked_number}
              = render :partial => '/registrations/credit_card_fields'
              - if current_user.plan == 'free'
                = hidden_field_tag :tr_data, Braintree::TransparentRedirect.create_customer_data(:redirect_url => billing_info_confirm_profiles_url())
              - else
                = hidden_field_tag :tr_data, Braintree::TransparentRedirect.update_customer_data(:redirect_url => billing_info_update_confirm_profiles_url(),:customer_id => current_user.braintree_customer_id)
                = hidden_field_tag 'customer[credit_card][options][update_existing_token]', @credit_card.token
              = hidden_field_tag :present_user_plan,current_user.plan
              .form-actions
                %button.btn.btn-primary{:type => "submit"} Save changes
          :javascript
            function validate_card_info(){
            var form_url = $('form.payment_form').attr("action");
            var card_number = $('#user_card_number');
            var user_plan = $('#present_user_plan');
            var plans = $("input[name='user_plan']");
            var user_zip_code = $('#user_zip_code');

            if (user_plan.val()=="free" && !(plans[0].checked))
            {

                         if (card_number.val()=="")
                         {
                            alert("Card can't be blank");
                            return false
                         }

                         if (card_number.val().length<12 || card_number.val().length>19)
                         {
                           alert("Credit card number must be 12-19 digits");
                           return false
                         }


                        if (user_zip_code.val()=="")
                        {
                          alert("CVV can't be blank");
                          return false
                        }

                        if (user_zip_code.val().length<3 || user_zip_code.val().length>4)
                        {
                          alert("CVV must be 3 or 4 digits");
                          return false
                        }

            }



            if (card_number.val()=="")
            {
            $('form.payment_form').attr("action","/profiles/update_plan");
            return true;
            }
            else if(card_number.val()!="")
            {
                         if (card_number.val().length<12 || card_number.val().length>19)
                         {
                           alert("Credit card number must be 12-19 digits");
                           return false
                         }


                        if (user_zip_code.val()=="")
                        {
                          alert("CVV can't be blank");
                          return false
                        }

                        if (user_zip_code.val().length<3 || user_zip_code.val().length>4)
                        {
                          alert("CVV must be 3 or 4 digits");
                          return false
                        }
            }

            return true;

            }



          :javascript
                $(function () {
                  $('#optionsRadios2').click(function(){
                                  $.ajax({
                                  type : 'get',
                                  url : '/profiles/user_plan?plan=Monthly&format=json',
                                  datatype : 'json',
                                  async: false,
                                  //beforeSend: function() {
                                        //$("#spinner").show();
                                  //},
                                  headers: {
                                       'X-Transaction': 'POST Example',
                                       'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                                     },
                                  success : function(data) {
                                  //$("#spinner").hide();

                                  },
                                  error : function(data){
                                  //$("#spinner").hide();
                                  }
                                });
                       });
                  $('#optionsRadios3').click(function(){
                                  $.ajax({
                                  type : 'get',
                                  url : '/profiles/user_plan?plan=Yearly&format=json',
                                  datatype : 'json',
                                  async: false,
                                  headers: {
                                       'X-Transaction': 'POST Example',
                                       'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                                     },
                                  success : function(data) {
                                  //alert('success');

                                  },
                                  error : function(data){
                                  //alert('error');
                                  }
                                });
                       });

                });
      / billing
    / accordion-inner
  / accordion-body
/ accordion-group