= render 'shared/settings'

.span9
  = render 'shared/error_messages', :target => @profile
  = render "shared/error_messages", :target => @user
  = render 'profile'
  = render 'billing'
  = render 'email_notifications'
  = render 'change_password'
- content_for :accordion do
  :javascript
    $(function() {
        $(".nav li").click(function(e){
          $(".collapse").collapse()

      });

    });