= render 'shared/profile_navigation'
.span9
  .row
    .span7
      %h1= @profile.name.capitalize if !@profile.name.blank?
      %h5
        %strong= @profile.title.capitalize  if !@profile.title.blank?
        %em=" at #{@profile.company}"
      %h6
        %i.icon-map-marker>
        = "#{@profile.city}, #{@profile.state}"
        %small= @profile.country
    .span2
      %p.pull-right
        %a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => "#new-message"}
          %i.icon-pencil.icon-white
          Send a Message
  / row
  .row
    .span9
      %h3 About
      %hr.zero
        %p= @profile.bio
    / span9
  / row
  .row
    .span3
      %h5 Associations
      %hr.zero
        - @profile.association_list.each do |x|
          %span= x
          %br/
    .span3
      %h5 Expertise
      %hr.zero
        - @profile.expertise_list.each do |x|
          %span.label.label-success= x
    .span3
      %h5 Interest
      %hr.zero
        - @profile.interest_list.each do |x|
          %span.label.label-info= x
  / row
  .row
    .span9
      %h3 Activity
      %table.table.table-striped
        - @latest_activities = current_user.activities.last(9).reverse
        = render :partial => "activities/latest", :object => @latest_activities
    / span9
  / row
  .row
    .span9
      %h3 Photo Stream
      %hr.zero
        %ul.thumbnails
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
        %p.pull-right
          %a{:href => "./members.html"} see more photos
        %br/
        %br/
    / span9
  / row
/ span9
#new-message.modal.hide.fade{:style => "display: none;"}
  .modal-header
    %a.close{"data-dismiss" => "modal", :href => "#"} ×
    %h3 New Message
  .modal-body
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label{:for => "input01"} To
          .controls
            <input type="text" profita"]"="" stukel","michael="" macleod","doug="" blake="" data-source="[" data-input="5" data-provide="typeahead" id="input01" class="input-xlarge">
        .control-group
          %label.control-label{:for => "textarea"} Message
          .controls
            %textarea#textarea.input-xlarge{:rows => "3"}
        .form-actions
          %button.btn.btn-primary{:type => "submit"} Send