= render 'shared/profile_navigation'
.span9
  .row
    .span7
      %h1= @profile.name.capitalize if !@profile.name.blank?
      %h5
        %strong= @profile.title.capitalize  if !@profile.title.blank?
        %em=" at #{@profile.company}"
      %h6
        %i.icon-map-marker>
        = "#{@profile.city}, #{@profile.state}"
        %small= @profile.country
    - unless @profile.user == current_user
      .span2
        %p.pull-right
          %a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => "#new-message"}
            %i.icon-pencil.icon-white
            Send a Message
  / row
  .row
    .span9
      %h3 About
      %hr.zero
        %p= @profile.bio
    / span9
  / row
  .row
    .span3
      %h5 Associations
      %hr.zero
        - @profile.association_list.each do |x|
          %span= x
          %br/
    .span3
      %h5 Expertise
      %hr.zero
        - @profile.expertise_list.each do |x|
          %span.label.label-success= x
    .span3
      %h5 Interest
      %hr.zero
        - @profile.interest_list.each do |x|
          %span.label.label-info= x
  / row
  .row
    .span9
      %h3 Activity
      %table.table.table-striped
        - @latest_activities = current_user.activities.last(9).reverse
        = render :partial => "activities/latest", :object => @latest_activities
    / span9
  / row
  .row
    .span9
      %h3 Photo Stream
      %hr.zero
        %ul.thumbnails
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
        %p.pull-right
          %a{:href => "./members.html"} see more photos
        %br/
        %br/
    / span9
  / row
/ span9
#new-message.modal.hide.fade.in{:style => "display: none;"}
  .modal-header
    %a.close{"data-dismiss" => "modal", :href => "#"} ×
    %h3 New Message
  .modal-body

    = form_for @conversation, :url => user_conversations_path(current_user), :html => { :class => "form-horizontal" } do |f|
      %fieldset
        = f.fields_for :messages, :html => { :multipart => true } do |x|
          .control-group
            %label.control-label{:for => "fileInput"} To
            .controls
              %ul#msg_to.tagit{:name => "recipient_profile_id"}
                %li.tagit-choice{"data-profile_id" => "#{@profile.id}"}
                  = @profile.full_name
                  %input{:name => "conversation[recipient_profile_id][]", :style => "display: none;", :type => "hidden", :value => "#{@profile.id}"}
                %li.tagit-new
                  %input.tagit-input.ui-autocomplete-input{"aria-autocomplete" => "list", "aria-haspopup" => "true", :autocomplete => "off", :disabled => "disabled", :role => "textbox", :style => "display: none;", :type => "text"}
          .control-group
            %label.control-label{:for => "fileInput"} Subject
            .controls
              = x.text_field :subject, :placeholder => "subject", :class => "input "
          .control-group
            %label.control-label{:for => "fileInput"} Body
            .controls
              = x.text_area :body, :placeholder => "Write message ....", :class => "input ", :rows => "5", :style => "width:370px;"
              = hidden_field_tag :conversation_recipient_profile_name, "#{@profile.full_name}", :class => "input "
          .control-group
            .controls
              = f.submit "Send Message", :class => "btn btn-primary"
