.span9
  = render 'shared/error_messages', :target => @discussion
  %h2
    %small new
    Discussion
  = form_for @discussion, :html => { :class => "form-search well" } do |f|
    = f.text_field :question, :placeholder => "Enter Question or Topic for Discussion", :class => "input-xlarge span7", :size => "20x1"
    = f.submit "Discuss", :class => "btn btn-primary"

  - unless @discussions.blank?
    #Discussions
      %h2
        Discussions
        %small= @discussions_size  
      %hr.zero
      #accordion2.accordion
        - @discussions.each do |discussion|
          - index = @discussions.index(discussion)
          .accordion-group
            .accordion-heading
              %div{:style=>"padding: 8px 15px;"}
                %table
                  %tr
                    %td.span1
                      %a{"data-original-title" => "#{discussion.user.profile.name}", "data-placement" => "bottom", :href => "#{profile_path(discussion.user.permalink)}", :rel => "tooltip"}
                        %img.thumbnail.discussion-img{:align => "middle", :height => "30px", :src => "#{display_image(discussion.user.profile.photos, :thumb)}", :width => "30px", :alt => "#{discussion.user.profile.full_name}"}
                    %td.span6
                      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse#{numbers_and_words[index]}"}
                        %h4
                          = discussion.question
                          %span.label.label-info
                            = discussion.comments.count
                          %p{:style=>"float:right"}
                            = time_ago_in_words(discussion.updated_at) + " ago"
            / according-heading
            .accordion-body{:style => "height: #{index == 0 ? 'auto':'0px'};", :id => "collapse#{numbers_and_words[index]}", :class => "#{index == 0 ? 'in':'collapse'}"}
              .accordion-inner
                #convo.row
                  %table.offset1
                    - discussion.comments.each do |comment|
                      %tr
                        %td.span1
                          %a{"data-original-title" => "#{comment.user.profile.name}", "data-placement" => "bottom", :href => "#{profile_path(comment.user.permalink)}", :rel => "tooltip"}
                            = image_tag "#{display_image(comment.user.profile.photos, :thumb)}", :size => "30x30", :align => "middle", :class => "discussion-img thumbnail", :alt => "#{comment.user.profile.full_name}"
                        %td.span6
                          %p
                            = comment.body
                        %td.span4
                          = time_ago_in_words(comment.updated_at) + " ago"
                      %tr
                        %td{:colspan=> "3"}
                          %hr.zero

 
                  .offset1
                    - discussion.comments.build
                    = form_for discussion, :html => { :class => "form-search " } do |f|
                      = f.fields_for :comments do |s|
                        = s.text_area :body, :placeholder => "", :class => "input-xlarge span6", :size => "20x2"
                        = f.submit "Reply", :class => "btn btn-primary btn-large"

                / convo
              / accordion-inner
            / accordion-body
          / accordion-group
    / Discussions
    = paginate @discussions, theme: "bootstrap"
