- message = conversation.messages.last
- profile = (message.sender == current_user) ? message.recipient.profile : message.sender.profile
%tr{:class => "#{'unread' unless conversation.read?(current_user)}" }
  %td.span1{:data => {:conversation_id => conversation.id}}
    = link_to display_image(profile.photos, :thumb), user_conversation_path(current_user, conversation), :class => "thumbnail"
  %td
    -if conversation.messages.length > 1
      %h5{:class => "#{'unread_msg' unless conversation.read?(current_user)} tk-ff-tisa-web-pro" }
        Last reply by <span>#{last_reply_name(conversation.messages.first.sender)}:</span>
    -else
      %span{:class => "#{'unread_msg' unless conversation.read?(current_user)} last-reply tk-ff-tisa-web-pro" }
        = link_to message.sender.profile.full_name, user_conversation_path(current_user, conversation), :class => "desc"
    %br/ 
    %p
      %a.summary{:href => user_conversation_path(current_user, conversation) }
        =truncate(message.body.gsub(/<\/?[^>]*>/, ""), :length => 90)
  %td= time_ago_in_words(message.updated_at) + " ago"
  %td
    %a.close{:href => "#{user_conversation_archive_path(current_user, conversation)}",
             :rel => "tooltip",
             "data-original-title" => "Delete",
             "data-placement" => "bottom"}×

