.span9
  .row
    .span5
      %h2 Messages
    .span4
      %p.pull-right
        %a.btn.btn-primary{"data-toggle" => "modal", :href => "#new-message"}
          %i.icon-pencil.icon-white
          New Message


  -unless @replies.blank?
    %table.table.table-striped
      %tbody
        - @replies.each do |reply|
          - if reply.sender
            %tr
              %td.span1
                = link_to image_tag(reply.sender.profile.photos.first.image.url(:avatar)), profile_path(reply.sender.permalink), :class => "avatar large"
              %td
                %h5
                  =link_to reply.sender.profile.name, profile_path(@first_message.sender.permalink)
                %br/
                %p
                  = message_with_links_and_paragraphs(reply.body).html_safe
              %td= time_ago_in_words(reply.updated_at) + " ago"

          - else
            %tr
              %td.span1
                = link_to image_tag(current_user.profile.photos.first.image.url(:avatar)), profile_path(current_user.permalink), :class => "avatar small"
              %td
                = semantic_form_for @conversation, :url => user_conversation_path do |f|
                  = semantic_fields_for :message do |m|
                    = m.inputs do
                      = m.input :body, :as => :text, :label => false, :input_html => {:placeholder => "Your comment...", :rows => "5", :style => "width:370px;"}
                  = f.buttons do
                    = f.commit_button "Send", :button_html => {:class => "btn btn-primary", :id => nil}