%li.span1
  - unless @total.nil?
    %a.msg_counter.label.label-important
      = "+#{@total}"
  %a.thumbnail{"data-original-title" => "#{member.profile.full_name}", "data-placement" => "bottom", :href => "#{profile_path(member.permalink)}", :rel => "tooltip"}
    = display_image(member.profile.photos, :thumb)
