
.span3
  %div
    = display_image(current_user.profile.photos)
  .well
    %ul.nav.nav-list
      %li.nav-header Socialize
      %li{:class => "#{(params[:controller] == 'home') ? 'active':''}"}
        %a{:href => "/home"}
          %i.icon-star>
          What's New
      %li{:class => "#{'active' if profiles?}"}
        %a{:href => "#{profile_path(current_user.permalink)}"}
          %i.icon-home>
          Profile
      %li
        %a{:href => "#{members_path}"}  
          %i.icon-user>
          Members
      %li
        %a{:href => "#"}
          %i.icon-comment>
          Messages
      %li
        %a{:href => "#"}   
          %i.icon-glass>
          Concierge
  / side bar nav
  %div
    %form.well
      %h3 Call Concierge
      %hr.zero
        %input.span2{:placeholder => "847-481-9989", :type => "text"}
          %span.help-inline Press Call and Your Phone will Ring
          %button.btn.btn-primary{:type => "submit"} Call Concierge
          %br/
  / concierge
/ span3