
.span3
  %div
    - if current_user.verified?
      %a.verified_icon.label.label-important{:style => "left:0px;top:30px"}
    = image_tag display_image(@profile.nil? ? current_user.profile.photos : @profile.photos, :medium)
  .well
    %ul.nav.nav-list
      %li.nav-header Socialize
      %li{:class => "#{params[:controller] == "home" ? "active":""}"}
        %a{:href => "/home"}
          %i.icon-star>
          What's New
      %li{:class => "#{'active' if profiles?}"}
        %a{:href => "#{profile_path(current_user.permalink)}"}
          %i.icon-home>
          Profile
      %li{:class => "#{(params[:controller] == 'members') ? 'active':''}"}
        %a{:href => "#{search_members_path}"}
          %i.icon-user>
          Members
      %li{:class => "#{(params[:controller] == 'discussions') ? 'active':''}"}
        %a{:href => "#{discussions_path}"}
          %i.icon-comment>
          Discussions
      %li{:class => "#{(params[:controller] == 'conversations') ? 'active':''}"}
        %a{:href => "#{user_conversations_path(current_user)}"}
          %i.icon-comment>
          Messages
          - if (unread_messages_count > 0)
            %span{:class => "label label-important"}
              = unread_messages_count
      %li
        %a{:href => "#"}   
          %i.icon-glass>
          Concierge
  / side bar nav
  %div
    %form.well
      %h3 Call Concierge
      %hr.zero
        %input.span2{:placeholder => "847-481-9989", :type => "text"}
          %span.help-inline Press Call and Your Phone will Ring
          %button.btn.btn-primary{:type => "submit"} Call Concierge
          %br/
  / concierge
/ span3