.span9
  %div
    %h2
      %small new
      Members
    %hr.zero
      %ul.thumbnails#latest_members
        %li
          #spinner
            = image_tag 'ajax-loader.gif', :class => 'ajax-loader'
            %p Loading....
      %p.pull-right
        = link_to "see more members", search_members_path    
      %br/
      %br/
  %div
    %h2
      %small new
      Events
    %hr.zero
      %ul.thumbnails#latest_events
        %li
          #spinner
            = image_tag 'ajax-loader.gif', :class => 'ajax-loader'
            %p Loading....
      %p.pull-right
        %a{:href => "/events"} see more events
      %br/
      %br/
  %div
    %h2
      %small new
      Offers
    %hr.zero
      %ul.thumbnails#latest_offers
        %li
          #spinner
            = image_tag 'ajax-loader.gif', :class => 'ajax-loader'
            %p Loading....
      %p.pull-right
        = link_to "see more offers", offers_path
      %br/
      %br/
  #activity
    .row.zero-row
      .span5
        %h2 Activity
      .span4
        .btn-group.pull-right{"data-toggle" => "buttons-radio"}
          %button.get-activities.btn.btn-small.btn-primary.active#entire_network Entire Network
          %button.get-activities.btn.btn-small.btn-primary#my_connections my Connections
    %hr.zero
      %table.table.table-striped
        %tbody#latest_activities
          %tr
            %td.span1
              #spinner
                = image_tag 'ajax-loader.gif', :class => 'ajax-loader'
                %p Loading....
      %p{:id => 'ajax-more-activities'}
        = image_tag 'ajax-loader.gif', :class => 'ajax-loader', :style => 'margin:0 0 0 48%;display:none', :align => 'middle'
        = button_tag 'more activities', :class => 'more-activities span9', :type => 'button', :style => "margin:0px"
           
-content_for :javascripts do
  :javascript
    $(function () {
      // gets latest members
      $("#latest_members").load("#{latest_members_path}");
      $("#latest_offers").load("#{latest_offers_path}");
      $("#latest_events").load("#{home_page_events_events_path}");
      $("#latest_activities").load("#{latest_activities_path}");
      
      $('.get-activities').click(function(){
        $('.ajax-loader').hide();
        $('.more-activities').show();
        if(!$(this).hasClass('active')){
         getActivities({"type" : $(this).text()}, false);
         $('.more-activities').text("more activities");
        }
         $('.more-activities').attr("disabled", false);
      });

      $('.more-activities').click(function(){
         getActivities({"type" : $('.get-activities.active').text()}, true);
      });

      $('a[rel=tooltip]').tooltip({
        live: true
      });

    });



  






