- if current_user.plan == 'free' && display_free_modal == true
  = render :partial => 'shared/billing_info', :locals => {:div_id => event_div_id , :callback_url => confirm_events_url(:event_id => event.id)}
-elsif current_user.plan == 'Yearly' || current_user.plan == 'Monthly'
  .modal.hide.fade{:style => "display: none;", :id => "#{event_div_id}"}
    .modal-header
      %a.close{"data-dismiss" => "modal", :href => "#"} ×
      %h3 Register : #{event.title}
    .modal-body
      =# form_tag({:action => 'register'},:class => 'form-horizontal') do |f|
      = form_for(@payable_promotion = PayablePromotion.new, :url => register_event_path(event), :html => {:class => 'form-horizontal'}) do |f|
        %fieldset
          %h4 Contact
          .control-group
            %label.control-label{:for => "input01"} Name
            .controls
              = f.text_field :name, {:value => (current_user.profile.name if !current_user.profile.blank?), :class => 'input-xlarge', :readonly => true}
          .control-group
            %label.control-label{:for => "input02"} Email
            .controls
              = f.text_field :email, {:value => current_user.email, :class => 'input-xlarge', :readonly => true}
          .control-group
            %label.control-label{:for => "input03"} Phone #
            .controls
              = f.text_field :phone, {:value => (current_user.profile.phone if !current_user.profile.blank?), :class => 'input-xlarge'}
          %hr.zero
            .control-group
              %label.control-label Credit Card
              .controls
                %label.radio
                  %input#optionsRadios1{:checked => "", :name => "customer_id", :type => "radio", :value => current_user.braintree_customer_id}
                    %strong #{current_user.default_credit_card.card_type}
                    on file ending in
                    %em #{current_user.default_credit_card.last_4}
            .control-group
              %label.control-label # of Tickets
              .controls
                - if event.has_more_than_10_tickets?
                  %select.span1{:name => 'payable_promotion[total_tickets]', :id => "total_tickets_#{event.id}"}
                    - 10.times do |x|
                      %option{:value => "#{x+1}"}= x+1
                - else#if event.has_tickets?
                  %select.span1{:name => 'payable_promotion[total_tickets]', :id => 'total_tickets'}
                    - event.tickets_remaining.times do |x|
                      %option{:value => "#{x+1}"}= x+1

                %span{:style => "margin-left:40px"}
                  Total cost:
                  %strong{:id => "total_cost_#{event.id}"} $#{event.price}
            .form-actions
              %button.btn.btn-primary{:type => "submit"} Register
              %button.btn{"data-dismiss" => "modal", :type => "reset"} Cancel

  :javascript
    $(function() {
      $("#total_tickets_#{event.id}").change(function(){
      var event_price = '353'
      var total_tickets = this.value;
      total =  parseFloat(event_price)*parseFloat(total_tickets);
      var total_cost = parseFloat(total);
      $("#total_cost_#{event.id}").html('$'+total_cost+'.00');
      });


    });