- display_free_modal = (current_user.plan == 'free' ? true : false)
- @promotion_events.each do |promotion|

  - event_div_id = (current_user.plan == 'free' ? 'register-div' : "event#{promotion.promotionable.id}-register")
  %li.span3
    .thumbnail
      = event_image(promotion, :normal)#display_image(promotion.photos)
      .caption
        %h5
          = promotion.promotionable.title
        %p
          = promotion.promotionable.description
        %p
          %span.strike
            =number_to_currency promotion.promotionable.price
          %em Premium
        %p
          %a.btn.btn-success{"data-toggle" => "modal", :href => "##{event_div_id}"}
            %i.icon-pencil.icon-white
            Register
          %a.btn.btn-small.btn-info{:href => event_path(promotion.promotionable.id)}
            %i.icon-info-sign.icon-white
            More Info
  = render :partial => 'event_registration', :locals => {:event => promotion.promotionable,
   :display_free_modal => display_free_modal,:event_div_id => event_div_id}
  - display_free_modal =  false

