
-content_for :event_ending_info do
  .span12
    %span.pull-right
      %i.icon-time
      %strong SALE ENDS
      %em= global_date_format(@event.sale_ends_at)

.row
  .span6
    .well
      = event_image(@event.promotion,:carousel) #display_image(@event.promotion.photos,'carousel')

      %hr
        .row
          - @event.promotion.photos.each do |photo|
            .span1
              =# image_tag photo.image
  / span6 images
  .span6
    %h1= @event.title
    %p= @event.description
    /
      Tabs
      \==================================================
    %ul#tab.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#includes"} Includes
      %li
        %a{"data-toggle" => "tab", :href => "#schedule"} Schedule
    #myTabContent.tab-content
      #includes.tab-pane.active
        %ul
          - @event.includes.each do |include|
            %li= include.title
      / includes
      #schedule.tab-pane
        %table.table.table-striped
          %thead
            %tr
              %th Date
              %th Time
              %th Description
          %tbody
            - @event.schedules.each do |schedule|
              %tr
                %td= global_date_format(schedule.date)
                %td= global_time_format(schedule.date)
                %td= schedule.title
      / schedule
    / tab-content
    %div
      - if !@event.promotion.registered_members.blank?
        %h3 #{@event.promotion.registered_members.size} Members Attending
        %hr.zero
          %ul.thumbnails
            - @event.promotion.registered_members.each do |registered_member|
              = render :partial => 'shared/member', :locals => {:member => registered_member.user}
      - else
        %h3 0 Members Attending
        %hr.zero
    - event_div_id = (current_user.plan == 'free' ? 'register-div' : "event#{@event.id}-register")
    .row
      .span2
        %p
        - unless (@event.tickets == 0)
          %a.btn.btn-large.btn-success{"data-toggle" => "modal", :href => "##{event_div_id}"}
            %i.icon-pencil.icon-white
            Register
        - else
          %em All tickets sold out
      .span2
        %h4 $ #{@event.price}
        %i.icon-tags
        %strong= @event.tickets
        %em Remaining


  / Register Modal
  - unless (@event.tickets == 0)
    = render :partial => 'event_registration', :locals => {:event => @event, :display_free_modal => true,:event_div_id => event_div_id}

:javascript
  $(function () {
  $('a[rel=tooltip]').tooltip({
  	live: true
  })
  })