
-content_for :event_ending_info do
  .span12
    %span.pull-right
      %i.icon-time
      %strong SALE ENDS
      %em= @event.sale_ends_at.strftime("%B %d, %Y")

.row
  .span6
    .well
      = display_image(@event.promotion.photos)

      %hr
        .row
          - @event.promotion.photos.each do |photo|
            .span1
              = image_tag photo.image
  / span6 images
  .span6
    %h1= @event.title
    %p= @event.description
    /
      Tabs
      \==================================================
    %ul#tab.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#includes"} Includes
      %li
        %a{"data-toggle" => "tab", :href => "#schedule"} Schedule
    #myTabContent.tab-content
      #includes.tab-pane.active
        %ul
          - @event.includes.each do |include|
            %li= include.title
      / includes
      #schedule.tab-pane
        %table.table.table-striped
          %thead
            %tr
              %th Date
              %th Time
              %th Description
          %tbody
            - @event.schedules.each do |schedule|
              %tr
                %td= schedule.date
                %td= schedule.time
                %td= schedule.title
      / schedule
    / tab-content
    %div
      %h3 9 Members Attending
      %hr.zero
        %ul.thumbnails
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcSYhnBvyrRrhumLTwSW7CLDFLVNY_ONEAHBFMdxc46bJLU8nuGLZw"}
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcSxBfHGvjZb68NVLOrTAqlXXdnGZUQrjcnndSd8w5qvMM1CX6taAw"}
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn0.google.com/images?q=tbn:ANd9GcSJXgIHrgms31dM7ZWyYIah0opjvvuccBCHoblNeN2v7hTre-hpQw"}
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn0.google.com/images?q=tbn:ANd9GcSdhiqivyBt7osZ9wW9WmML47uveFdWfhKe-Y-jwo1pEfbbT3WK"}
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcQ821DgmCba9tROpeuz1GibDBWgS-i_yS3OruOHG0JfS5u_Sj-iMg"}
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
        %ul.thumbnails
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcSYhnBvyrRrhumLTwSW7CLDFLVNY_ONEAHBFMdxc46bJLU8nuGLZw"}
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcSxBfHGvjZb68NVLOrTAqlXXdnGZUQrjcnndSd8w5qvMM1CX6taAw"}
          %li.span1
            %a{"rel" => "tooltip", "data-original-title" => "John Doe","data-placement" => "bottom","class" => "thumbnail",:href => "#"}
              %img{:src => "https://encrypted-tbn0.google.com/images?q=tbn:ANd9GcSJXgIHrgms31dM7ZWyYIah0opjvvuccBCHoblNeN2v7hTre-hpQw"}
    - event_div_id = (current_user.plan == 'free' ? 'register-div' : "event#{@event.id}-register")
    .row
      .span2
        %p
          %a.btn.btn-large.btn-success{"data-toggle" => "modal", :href => "##{event_div_id}"}
            %i.icon-pencil.icon-white
            Register
      .span2
        %h4 $ #{@event.price}
        %i.icon-tags
        %strong 7
        %em Remaining


  / Register Modal
  = render :partial => 'event_registration', :locals => {:event => @event, :display_free_modal => true,:event_div_id => event_div_id}

:javascript
  $(function () {
  $('a[rel=tooltip]').tooltip({
  	live: true
  })
  })