- @latest_offers.each do |offer|
  %li.span3
    .thumbnail
      = display_image(offer.promotion.photos)
      .caption
        %h5= offer.title
        %p= offer.description
        %p
          %a.btn.btn-info{"data-toggle" => "modal", :href => offer_activation_link(current_user,offer), :id => "offer_#{offer.id}", :class => "offer-register-button"}
            %i.icon-ok.icon-white
            Activate
- if current_user.plan == 'free'
  = render :partial => 'shared/billing_info', :locals => {:div_id => 'billing_info' , :callback_url => confirm_offers_url}
  :javascript
    $('.offer-register-button').click(function(){
      var offer_id = this.id.split('_')[1]
      //alert(event_id) ;
      $.ajax({
                    url: "/promotions/"+offer_id+"/become_premium_member",
                    data:'promotion=offer',
                    //async: false,
                    success:function(data){
                      $('#register-div').empty();
                      $('#billing_info').html(data);
                      //alert('Load was performed.');
                    },
                    dataType:'html'
                    });
      //$('#register-div').modal('show');
    });

