.span9
  = form_for PhotoStream.new, :url => user_photo_streams_path(current_user.permalink) do |f|
    = text_field 'photostream', 'title', :value => '', :placeholder => 'Untitled Albumn'
    = f.submit "Create Albumn", :class => 'btn-primary btn'
.span9
  %ul.thumbnails
    - @photo_streams.reverse.each do |albumn|
      %li.span3{:style => 'min-height:220px'}
        = link_to user_photo_stream_path(current_user.permalink, albumn.id) do
          - photos = albumn.photos
          %h3
            = albumn.title
          - if photos.blank?
            = image_tag 'http://placehold.it/260x180' 
          - else
            = image_tag photos.last.image.url(:medium)
          %br
          = photos.count
          Photos


 