- @latest_activities.each do |activity|
  %tr{:class => "#{activity.id}"}
    %td.span1
      %a.thumbnail{"data-original-title" => "#{activity.user.profile.name}", "data-placement" => "bottom", :href => "#{profile_path(activity.user.permalink)}", :rel => "tooltip"}
        = image_tag display_image(activity.user.profile.photos, :thumb)
    %td
      %h5= activity.user.profile.name
      %p
        = activity.body
        - unless activity.resource.nil?
          - if activity.resource_type == "Offer"
            = link_to "goto...", offers_path  
          - elsif  activity.resource_type == "Comment"
            = link_to "goto...", discussions_path
          - elsif  activity.resource_type == "Discussion"
            = link_to "goto...", discussions_path
          - else 
            = link_to "goto...", polymorphic_path(activity.resource)

    %td
      %p= time_ago_in_words(activity.updated_at) + " ago"


