- @latest_activities.each do |activity|
  - next if activity.resource.nil? || (activity.resource_type == "Connection" && activity.resource.friend != current_user)
  %tr{:class => "#{activity.id}"}
    %td.span1
      %a.thumbnail{"data-original-title" => "#{activity.user.profile.name}", "data-placement" => "bottom", :href => "#{profile_path(activity.user.permalink)}", :rel => "tooltip"}
        = image_tag display_image(activity.user.profile.photos, :thumb)
    %td
      %h5= activity.user.profile.name
      %p
        = activity.body
        - if activity.resource_type == "Offer"
          = link_to activity.resource_type, offers_path
        - elsif  activity.resource_type == "Comment"
          = link_to activity.resource_type, discussions_path(:id => activity.resource.commentable.id)
          on a discussion
        - elsif  activity.resource_type == "Discussion"
          = link_to activity.resource_type, discussions_path(:id => activity.resource_id)
        - elsif  activity.resource_type == "Connection"
          - break if activity.resource.friend != current_user
          = link_to activity.resource.friend.profile.full_name, profile_path(activity.resource.friend.profile.user.permalink) 
        - elsif  activity.resource_type == "VincompassShare"

        - elsif  activity.resource_type == "Event"
          = link_to activity.resource.title, polymorphic_path(activity.resource)
          = " Event"
    %td
      %p= time_ago_in_words(activity.updated_at) + " ago"


