.span9
  .row
    .span7
      %h1= current_user.profile.name.capitalize
      %h5
        %strong CTO
        %em=" at #{current_user.profile.company}"
      %h6
        %i.icon-map-marker>
        = "#{current_user.profile.city}, #{current_user.profile.state}"
        %small= current_user.profile.country
    .span2
      %p.pull-right
        %a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => "#new-message"}
          %i.icon-pencil.icon-white
          Send a Message
  / row
  .row
    .span9
      %h3 About
      %hr.zero
        %p= current_user.profile.bio
    / span9
  / row
  .row
    .span3
      %h5 Associations
      %hr.zero
        %span Winnetka Paddle Tennis
        %br/
        %span Exclusive Hunting Club
        %br/
        %span St. Judes Children's Hospital
        %br/
    .span3
      %h5 Expertise
      %hr.zero
        %span.label.label-success Web Apps
        %span.label.label-success HTML
        %span.label.label-success CSS
        %span.label.label-success JavaScript
        %span.label.label-success Business Development
    .span3
      %h5 Interest
      %hr.zero
        %span.label.label-info Golf
        %span.label.label-info Paddle Tennis
        %span.label.label-info Water Sports
        %span.label.label-info Fishing
        %span.label.label-info Hunting
  / row
  .row
    .span9
      %h3 Activity
      %table.table.table-striped
        - @latest_activities = current_user.activities
        = render :partial => "activities/latest", :object => @latest_activities
 
        %tr
          %td.span1
            <a href"#" rel="tooltip" data-original-title="Blake Macleod" data-placement="bottom" class="thumbnail">
            %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
          %td
            %h5 Blake Macleod
            %p
              has activated the
              %a{:href => "./offer-1.html"} Lifelock
              Offer
        %tr
          %td.span1
            <a href"#" rel="tooltip" data-original-title="Blake Macleod" data-placement="bottom" class="thumbnail">
            %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
          %td
            %h5 Blake Macleod
            %p
              has purchased a ticket to the
              %a{:href => "./events-1.html"} Grammy Event & Party
              Event
        %tr
          %td.span1
            <a href"#" rel="tooltip" data-original-title="Blake Macleod" data-placement="bottom" class="thumbnail">
            %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
          %td
            %h5 Blake Macleod
            %p
              has used
              %a{:href => "./events-1.html"} Affluence Concierge
        %tr
          %td.span1
            <a href"#" rel="tooltip" data-original-title="Blake Macleod" data-placement="bottom" class="thumbnail">
            %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
          %td
            %h5 Blake Macleod
            %p
              has donated to
              %a{:href => "./events-1.html"} Affluence Gives
        %tr
          %td.span1
            <a href"#" rel="tooltip" data-original-title="Blake Macleod" data-placement="bottom" class="thumbnail">
            %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
          %td
            %h5 Blake Macleod
            %p
              has used
              %a{:href => "./events-1.html"} Affluence Concierge
        %tr
          %td.span1
            <a href"#" rel="tooltip" data-original-title="Blake Macleod" data-placement="bottom" class="thumbnail">
            %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
          %td
            %h5 Blake Macleod
            %p
              has donated to
              %a{:href => "./events-1.html"} Affluence Gives
    / span9
  / row
  .row
    .span9
      %h3 Photo Stream
      %hr.zero
        %ul.thumbnails
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:alt => "", :src => "http://placehold.it/260x180"}
        %p.pull-right
          %a{:href => "./members.html"} see more photos
        %br/
        %br/
    / span9
  / row
/ span9
