!!!
%html{:lang => "en"}
  %head
    = stylesheet_link_tag 'bootstrap', 'main', 'tagit'
    = javascript_include_tag :application

    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      #spinner
        {
          margin:33px 0;
          position:relative;
          width:800px;
          left:50%;

        }
      .ajax-loader
        {
          margin:0 7px;

        }
  %body
    = render 'shared/header'
    .container
      = yield(:verification_message)
      = render 'shared/flash_message'
      = render 'shared/notification_tracker_alert'
      .row
        = render 'shared/profile_navigation'
        = yield
      = render 'shared/footer'

/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
/ javascript
= yield(:javascripts)
:javascript
  $(function () {
    $('body').tooltip({
      selector: '[rel=tooltip]'
    });
  });


