!!!
%html{:lang => "en"}
  %head
    = stylesheet_link_tag 'bootstrap', 'main'
    = javascript_include_tag 'application'

    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      #spinner
        {
          margin:33px 0;
          position:relative;
          width:800px;
          left:50%;

        }
      .ajax-loader
        {
          margin:0 7px;

        }
  %body
    = render 'shared/header'
    .container
      .row
        .span12
          %span.pull-right
            %i.icon-time
            %strong SALE ENDS
            %em April 3, 2010
      .row
        = yield
      = render 'shared/footer'


