!!!
%html{:lang => "en"}
  %head
    = stylesheet_link_tag    "bootstrap"
    = javascript_include_tag :application
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      #spinner
        {
          margin:33px 0;
          position:relative;
          width:800px;
          left:50%;

        }
      .ajax-loader
        {
          margin:0 7px;
 
        }
  %body
    = yield
    :javascript
      $(function () {
        $("#latest_members").load("#{home_latest_members_path}");
        $("#latest_events").load("#{latest_events_event_index_path}");
      });
