!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Affluence - Exclusive Access
      %meta{:content => "", :name => "description"}
        %meta{:content => "", :name => "author"}
          / Le HTML5 shim, for IE6-8 support of HTML elements
          /[if lt IE 9]
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          / Le styles
    = stylesheet_link_tag "bootstrap"
    :css
              body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
                / Le fav and touch icons
  %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
  %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
  %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to('Affluence', root_path, :class => "brand")
          .nav-collapse
            /
              <ul class="nav">
              <li><a href="./concierge.html">Concierge</a></li>
              <li><a href="./events.html">Events</a></li>
              <li><a href="./getaways.html">Getaways</a></li>
              <li><a href="./offers.html">Offers</a></li>
              <li><a href="./gives.html">Gives</a></li>
              <li><a href="./air.html">Air</a></li>
              </ul>
            = form_for(User, :as => 'user', :url => session_path('user'), :html=> {:class => 'form-search nav pull-right',:style => "margin-top:5px;" }) do |f|
              /%form.form-search.nav.pull-right{:style => "margin-top:5px;",:action=>"/users/sign_in",:method=>"post"}
              %input.input.span2{:name=>"user[email]", :type => "text",:placeholder=>"Email"}
              %input.input.span2{:name => "user[password]", :type => "password",:placeholder=>"Password"}
              /%a{:href => "./paid/home.html"}
              %button.btn.btn-primary{:style => "margin-top: 0px;", :type => "submit"} Login
              %p.help-block
                %a.white{:href => new_user_password_url} Forgot Password?
                %label.checkbox.white{:style => "color:white;"}
                  %input{:type => "checkbox", :name=> "user[remember_me]", :id=>"user_remember_me"} Remember Me?
          / /.nav-collapse
    #landing
      .container
        = yield
        %hr
          %footer
            %p © Company 2012
      / /container
    / landing
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    / javascript
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/jquery.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"}
    = yield(:javascripts)
