.span9
  %h2
    %small find
    Members
  %div
    = form_tag(search_members_path, :class => 'form-search well', :method => 'get') do
      = text_field_tag('query', nil,  :class => 'input-xlarge search-query', :placeholder => 'Name, Title, Location etc…')
      = submit_tag "Search", :class => 'btn btn-primary'
  %div
    %h2
      = @connections ? "Connections" : "Results"
      %small= @size
    %hr.zero
    - unless @profiles.blank?
      - temp_profiles = ary_to_arys(@profiles, 3)
      - temp_profiles.each do |x|
        %ul.thumbnails
          - x.each do |profile|
            %li.span3#members_search_profile
              %a{:href => "#{profile_path(profile)}"}
                .thumbnail
                  %img{:alt => "", :src => "#{profile.photos.first.image.url(:medium) unless profile.photos.blank?   }"}
                  %h5
                    = profile.first_name + " " + profile.last_name
                  %h6
                    = profile.title
                  %div
                    %i.icon-map-marker>
                    = "#{profile.city}, #{profile.state}."
                  %div
                    %small= profile.country



  / Results

  = paginate @profiles, theme: "bootstrap"
  