.span9
  %h2
    %small find
    Members
  %div
    = form_tag(search_members_path, :class => 'form-search well', :method => 'get') do
      = text_field_tag('query', nil,  :class => 'input-xlarge search-query', :placeholder => 'Name, Title, Location etc…')
      = submit_tag "Search", :class => 'btn btn-primary'
  %div
    %h2
      = @connections ? "Connections" : "Results"
      %small= @size
    %hr.zero
    - unless @profiles.blank?
      - temp_profiles = ary_to_arys(@profiles, 3)
      - temp_profiles.each do |x|
        %ul.thumbnails
          - x.each do |profile|
            %li.span3#members_search_profile
              .thumbnail
                %a{"data-original-title" => "#{profile.name}", "data-placement" => "bottom", :href => "#{profile_path(profile.user.permalink)}", :rel => "tooltip"}
                  = image_tag display_image(profile.photos, :medium)
                %h5
                  = profile.first_name + " " + profile.last_name
                %h6
                  = profile.title
                .row{:style => "padding-bottom:0px;"}
                  .span2
                    %div
                      %i.icon-map-marker>
                      = "#{profile.city}, #{profile.state}."
                    %div
                      %small= profile.country
                  %div
                    - if @connections
                      %a.close{:href => "#{delete_connection_members_path(:id=>profile.user.id)}",
                           :rel => "tooltip",
                           "data-confirm" => 'Are you sure?',
                           "data-original-title" => "Delete",
                           "data-placement" => "bottom"}×
 


  / Results

  = paginate @profiles, theme: "bootstrap"
  